*{
    margin:0px;
    padding:0px;
}
.managerRequestnavbar{
    position: sticky;
    top: 0;
}
.managerRequestmainbox{
    display: flex;
  
}

.managerRequest-records{
    width: 70%;
    margin:auto;
    background-color:rgb(226, 235, 235);
    padding:2% 0px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 80vh;
    max-height: 40vh;
    overflow-y:scroll;
}
.managerRequest-container{
    width: 70%;
    border:2px solid gray;
    margin: 1.5% auto;
    border-radius:8px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding:1% 5%;
}
.managerRequest-panal{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-items:center;
}
.managerRequest-details{
    width:80%;
}
.managerRequestname{
    font-family:monospace;
    margin:2px;
    box-sizing: border-box;
    font-size: 1.4rem;
}
.managerRequestauthor{
    font-family:monospace;
    margin:1%;
    color:gray;
    box-sizing: border-box;
    font-size: 1rem;
}
.managerRequestAbout{
    font-family:monospace;
    margin:1.4%;
    color: gray;
    min-height: 4vh;
    max-height: 12vh;
    box-sizing: border-box;
    font-size: 1rem;
    overflow-y: hidden;
}
.managerRequestButton{
    background-color:rgb(60, 107, 111);
    padding: 4px 15px;
    width: max-content;
    margin: 6px 0px;
    font-size: 1rem;
    border:  0px;
    border-radius:8px;
    
}