*{
    margin:0px;
    padding:0px;
}
.managerLoginForm-container{
    position:fixed;
    display: none;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,0.3);
}


/* form trigger */

.managerLogin-form-triiger{
    display: block;
}
.manager-form-content{
    background-color: azure;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
    position: relative;
    width: 35%;
    min-height: 40%;
    height: max-content;
    border-radius: 10px;
}

.manager-login-form{
    display: flex;
    flex-direction:column;
    box-sizing: border-box;
    padding:5% 4%;
}
.manager-form-control{

    border: 0px;
    border-bottom:2px solid gray;
    margin:2% 0%;
    padding:2%;
    outline: none;
    width: 80%;
    margin: 2% auto;
}
.manager-form-cross{
    position: absolute;
    width: 45px;
    border-radius:6px;
    color:white;
    text-align: center;
    padding: 2px;
    height: 20px;
    font-family: monospace;
    font-size: 1.2rem;
    top:16px;
    right: 15px;
    background-color: rgb(223, 36, 36);
    border: 1px solid red;
    transition: width 5s ease;
   
}
.manager-form-cross:hover{
    cursor: pointer;
    transition: all ,1s;
    transform: scale(1.02);
}
.manager-form-label{
    font-size:1.6rem;
    margin: auto;
    font-family:monospace;
}
.manager-form-error-message{
    margin:auto;
    padding:1.5% 2%;
    color:rgb(1, 1, 1);
    width: 80%;
    text-align: center;
    /* display: none; */
    border-radius: 2px;
    background-color: rgb(229, 110, 110);
    border:1px solid rgba(255, 0, 0, 0.612);
}
.manager-form-button{
    width: 85%;
    font-size:1.2rem;
    color:black;
    margin: 3% auto;
    padding: 1.5% 2.4%;
    /* box-sizing: border-box; */
    background-color: rgb(84, 138, 84);
    outline: none;
    border:1px solid green;
    border-radius:4px;
}

/* Media quries */

@media screen and (max-width:480px){
    .manager-form-content{
        width: calc(100% - 20%);
        transition: width 1s ease;
        min-height: 25%;
       }
       .manager-form-label{
        font-size:1.15rem;
        text-align: left;
        margin:0% 0% 0% 10%;
       
        }
        .manager-form-button{
            width: 85%;
            box-sizing: border-box;
            font-size:0.95rem;
            padding: 1.5%;
        }
        .manager-form-cross{
            position: absolute;
            width: 35px;
            top:10px;
            height: 20px;
            font-size:1rem;   
        }        
}

@media screen and (min-width:480px) and (max-width:780px){
    .manager-form-content{
     width: calc(100% - 40%);
        
    }

    .manager-form-button{
        width: 85%;
        box-sizing: border-box;
        font-size:1rem;
        padding: 1.5%;
    }
}